<html>
<head>
    {% include '../includes/_head.njk' %}
</head>

<body>
    {% include '../blocks/_header.njk' %}

    {% block content %}
    {% endblock %}
    
    {% include '../blocks/_footer.njk' %}
    {% include '../blocks/_scripts.njk' %}
</body>
</html>